body {
  color: #073b4c;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.header {
  background-color: #fff;
  height: 100px;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: #c7c7c7;
  justify-content: center;
}

h1 {
  font-size: 35px;
  font-size: 38px;
  line-height: 73px;
  margin-left: -29px;
}

h2 {
  font-size: 22px;
}

.headerContent {
  font-size: 61px;
  color: #ffd166;
  padding: 23px;
}

.topSection {
  width: 100%;
  background-color: #3d5a80;
  height: 500px;
  padding-top: 40px;
  display: flex;
}

.userName {
  background-color: #fff;
  border-radius: 7px;
  margin: 47px 47px -16px 47px;
  width: 93%;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  height: 39px;
  float: left;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userProfile {
  background-color: #fff;
  border-radius: 7px;
  margin: 51px;
  padding: 10px;
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px;
}

.appName {
  background-color: #fff;
  border-radius: 7px;
  margin: 51px;
  width: 37%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px;
  flex-direction: row;
  justify-content: center;
}

.icon {
  width: 33%;
  padding-top: 27px;
  /* background-color: red; */
  /* padding-right: 17px; */
  font-size: 72px;
  text-align: center;
  text-shadow: 10px 5px #ffffff;
  color: #06d6a0;
}

.iconSpan {
  font-size: 18px;
  width: 100%;
  float: left;
  margin-top: 16px;
}

.footer {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 200px auto;
  font-size: 14px;
  text-align: center;
}

.footerPtag {
  color: #76808b;
}

h4 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #cfcfcf;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h4 span {
  background: #fff;
  padding: 0 10px;
}

.personalInfoList {
  list-style: none;
  padding: 0;
  line-height: 46px;
}

.button {
  background-color: #ffd166;
  border: 0px solid red;
  padding: 12px;
  font-size: 16px;
  border-radius: 3px;
  width: 100px;
  margin-right: 9px;
  cursor: pointer;
}

/* modal */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modalMain {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modalHeader {
  display: flex;
  justify-content: flex-end;
}

.modalCloseBtn {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  margin-left: 0.5rem;
}

.formMainWrapper {
  display: flex;
  flex-direction: column;
}

.formLabel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 45%;
}

.formInput {
  padding: 15px;
  border: none;
  width: 100%;
  border: 1px solid #ccc;
  margin: 10px;
}

.feldsDiv {
  display: flex;
  flex-direction: row;
}

.mainDiv {
  float: right;
  margin-top: 21px;
}
